.projectsHeader {
    margin-top: 140px;
    margin-bottom: 100px;
    /* background-color: #d0d6d6; */
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.projectsHeader:hover {
    box-shadow: 0px 10px #7ea3f1;
    transform: translateY(-10px);
}

.projectsHeader:hover h2 {
    color: #7ea3f1;
}

.projectsHeader h2 {
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0;
    padding-right: 0;
    /* background-color: #d0d6d6; */
    font-size: 4.5em;
    font-weight: 100;
    /* color: white; */
    transition: color 0.5s ease;
}

.projectsHeader h2 span {
    border-bottom: 2px solid white;
    
}

.project-card {
    width: 100%;
    height: 34rem;
    margin-bottom: 40px;
    background-color: whitesmoke;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    transition: transform 0.5s ease, box-shadow 0.5s ease;
    border: 2px solid #7ea3f1;
    border-radius: 10px;
}

.card:hover {
    transform: translateY(-20px);
    box-shadow: 0px 20px #7ea3f1;
}

.card-body p {
    font-size: 1.25em;
    font-weight: 300;
    color: black;
    transition: color 0.5s ease;
    margin: 0;
}

.card-body a {
    margin: 10px;
}

.container {
    display: flex;
    padding: 0;
    
    flex-direction: column;
}

#blitzCodeContainer {
    background-color: white;
    padding: 50px;
}

#courseBriefContainer {
    background-color: white;
    padding: 50px;
    padding-top: 40px;
    padding-bottom: 50px;
}

#courseBriefColor {
    filter: invert(34%) sepia(100%) saturate(500%) hue-rotate(150deg) brightness(90%) contrast(90%);
}

#twitterCloneContainer {
    background-color: #26a7de;
    padding-top: 40px;
    padding-bottom: 40px;

}
#twitterColor {
    filter: invert(100%);
    padding-top: 5px;
    padding-bottom: 10px;
}

.techStack {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    list-style-type: none;
    padding: 0;
    flex-wrap: wrap;
    flex-direction: row;

}

.techStack li {
    padding-top: 8px;
    padding-bottom: 8px;
    border: 2px solid #7ea3f1;
    border-radius: 50px;
    margin: 10px;
    font-size: 1em;
    font-weight: 300;
    padding-left: 15px;
    padding-right: 15px;
    background-color: white;
}

.projectBanner:hover div {
    opacity: 0.75;
}
.projectBanner div {
    border-radius: 10px;
}

#moreProjects {
    display: inline-block;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 40px;
    font-size: 1.25em;
    font-weight: 300;
    color: #7ea3f1;
    text-decoration: none;
    border: 1px solid #7ea3f1;
    border-radius: 50px;
    padding: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: background-color 0.5s ease;
    background-color: white;
}

#moreProjects:hover {
    background-color: #d0d6d6;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.projectsHeader,
.project-card {
    opacity: 0;
}

/* Fade-in animation for projectsHeader */
.projectsHeader.fade-in {
    animation: fadeIn 1s ease-in-out forwards;
}

/* Fade-in animation for project-card */
.project-card.fade-in {
    animation: fadeIn 1s ease-in-out forwards;
}

